.footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  max-width: 318px;
  min-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .footer {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
