.header {
  padding-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
    border-bottom: 100%;
  }
}

/*@media screen and (max-width: 1300px) {
  .header {
    max-width: 880px;
  }
}*/
