.logo {
  max-width: 173px;
}

@media screen and (max-width: 890px) {
  .logo {
    margin-left: 35px;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    max-width: 126px;
    margin-left: 27px;
  }
}
